astropy==0.4.1
flask==0.10.1
gunicorn==19.1.0
itsdangerous==0.24
jinja2==2.7.3
markupsafe==0.18
numpy==1.8.2
openssl==1.0.1h
pastedeploy==1.5.2
python==2.7.8
readline==6.2
setuptools==3.6
sqlite==3.8.4.1
tk==8.5.15
werkzeug==0.9.6
zlib==1.2.7
