<h1>Instructions</h1>
<h2>DATA SHOWN FOR FALL 2015</h2>
<p>Add the name of the rubric whose enrollments you want to see to the URL above. Examples:</p>

<ul>
    <li>Want math? http://headcounts.herokuapp.com/math</li>
    <li>Want art? http://headcounts.herokuapp.com/art</li>
    <li>How about some physics: http://headcounts.herokuapp.com/phys</li>
    <li>Are you a greedy person who wants it all? Got you covered: http://headcounts.herokuapp.com/all</li>
</ul>

<h2>Disclaimer</h2>
<p>These are NOT real time results. The approximate time that the data was generated is shown above each table.</p>
