<h1>Instructions</h1>

<p>Add the name of the rubric whose enrollments you want to see to the URL above. Examples:</p>

<ul>
    <li>Want math? http://headcounts.heroku.com/math</li>
    <li>Want art? http://headcounts.heroku.com/art</li>
    <li>How about some physics: http://headcounts.heroku.com/phys</li>
    <li>Are you a greedy person who wants it all? Got you covered: http://headcounts.heroku.com/all</li>
</ul>

<h2>Disclaimer</h2>
<p>These are NOT real time results. The approximate time that the data was generated is shown above each table.</p>  
